{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}

    <h1 class="mt-4">Connexion </h1>
    <div class="container mt-4" style="width: 70%">
        <form action="{{ path('app_login') }}" method="post" >
            <div class="mb-3">
                {% if error %}
                    <div class="alert alert-danger " role="alert">
                        {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                {% endif %}
                <label for="username" class="form-label">Adresse Email</label>
                <input type="text" class="form-control" id="username" name="_username" value="{{ last_username }}" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input type="password" class="form-control" id="password" name="_password">

            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>


{% endblock %}